/* app global css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}


body::-webkit-scrollbar {
    width: 8px !important;     /* Tamaño del scroll en vertical */
    height: 8px !important;    /* Tamaño del scroll en horizontal */
    
}
body::-webkit-scrollbar-thumb {
    background: #793afa !important;
    border-radius: 50px !important;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #5e35b1 !important;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) !important;
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #673ab7 !important;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: #e1e1e1 !important;
    border-radius: 4px !important;
}
/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4 !important;
}